:root {
    --color-Poonto: #eb6b59;
    --padding-body: 0 7%;
    --padding-number: 7%
}

body {
    margin: 80px 0;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.boxed {
    width: calc(100% - (var(--padding-number)*2));
    max-width: 1920px;
    padding: var(--padding-body);
    align-self: center;
}

#root {
    display: flex;
    flex-direction: column;
}

.poontoColor {
    color: var(--color-Poonto);
}